<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="strength.js"></script>
<script type="text/javascript" src="js.js"></script>

<div class="container">

    <div class="card">
        <h1>Sign Up</h1>

        <form action="/auth/sign-up" method='POST'>
            <input type="email" name='email' required='true'>
            <br>
            <input id="myPassword" type="password" name='password' required='true'>
            <br>
            <br>
            <button type='submit'>Create my User Account</button>
        </form>
        <br>
            <br> {{#if error}}
            <p>ERROR: {{error}}</p>
            {{/if}}
    </div>
</div>

